<div class="row">
    <div class="col-xs-12">
        <h2>Add up to {{30+20}} Destinations!</h2>
    </div>
</div>
<form name="newWhichForm" role="form" novalidate>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Your Name</label>
                <input name="Name" type="text" class="form-control" ng-model="which.applicationUserID" required>
            </div>
            <div class="form-group">
                <label>Which _____? (fill in the blank)</label>
                <input name="Title" type="text" class="form-control" ng-model="which.title" required>
            </div>
            <div class="form-group">
                <label>Which #1 Pic</label>
                <input name="Pic1" type="text" class="form-control" ng-model="which.pic1url" required>
            </div>
            <div class="form-group">
                <label>Which #2 Pic</label>
                <input name="Pic2" type="text" class="form-control" ng-model="which.pic2url" required>
            </div>
            <button class="btn btn-default" ng-click="save(which)">Create My Which!</button>
        </div>
    </div>
</form>