<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Create a new Which</h1>
    </div>
</div>
<section class="content">
    <div class="col-xs-12 center-block text-center">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" ng-model="which.title" required />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Which<u>____</u>?</span>
            </label>
        </span>
    </div>
    <div class="col-xs-12 center-block text-center">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-5" ng-model="which.pic1Url" required />
            <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
                <span class="input__label-content input__label-content--hoshi">Which #1 Pic</span>
            </label>
        </span>
    </div>
    <div class="col-xs-12 center-block text-center">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-6" ng-model="which.pic2Url" required />
            <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
                <span class="input__label-content input__label-content--hoshi">Which #2 Pic</span>
            </label>
        </span>
    </div>
        <button class="button button--nina button--border-thin button--round-s col-xs-12 center-block" style="margin:auto" data-text="Create Which!" ng-click="save(which)" data-anim="la-anim-5">
            <span>C</span><span>r</span><span>e</span><span>a</span><span>t</span><span>e</span> <span>W</span><span>h</span><span>i</span><span>c</span><span>h</span><span>!</span>
        </button>
    <div class="la-anim-5"></div>
</section>
<!--<form name="newWhichForm" role="form" novalidate>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Your Name</label>
                <input name="Name" type="text" class="form-control" ng-model="which.applicationUserID" required>
            </div>
            <div class="form-group">
                <label>Which _____? (fill in the blank)</label>
                <input name="Title" type="text" class="form-control" ng-model="which.title" required>
            </div>
            <div class="form-group">
                <label>Which #1 Pic (paste a URL)</label>
                <input name="Pic1" type="text" class="form-control" ng-model="which.pic1Url" required>
            </div>
            <div class="form-group">
                <label>Which #2 Pic (paste a URL)</label>
                <input name="Pic2" type="text" class="form-control" ng-model="which.pic2Url" required>
            </div>
            <button class="btn btn-default" ng-click="save(which)">Create My Which!</button>
        </div>
    </div>
</form>-->