<section>
    <!--<h1 class="col-xs-12 text-center" id="whichFeedh1">Which&nbsp;<u id="feedUnderline">&nbsp;&nbsp;Feed&nbsp;&nbsp;</u>!</h1>-->

    <div ng-repeat="which in feeds | orderBy:'id':true">
        <table class="table table-condensed table-hover">
            <tr class="col-xs-12 text-center center-block feedTopRow">
                <th colspan="2" class=" text-center whichFeedWhiches">Which <u class="whichFeedItems">&nbsp;&nbsp;{{which.title}}&nbsp;&nbsp;</u>&nbsp;?</th>
            </tr>
            <tr class="col-xs-8 text-center center-block">
                <td ng-click="voteForFirst(which)"><img class="pics" src="{{which.pic1Url}}" /></td>
                <td ng-click="voteForSecond(which)"><img class="pics" src="{{which.pic2Url}}" /></td>
            </tr>
            <tr class="col-xs-8 text-center center-block">
                <td class="text-center feedVote1"></td>
                <td class="text-center feedVote2"></td>
            </tr>
        </table>
    </div>

</section>
