<h1 id="myWhichesH1" class="col-xs-12 text-center">My Whiches</h1>
<div ng-repeat="which in feeds | orderBy:'id':true">
    <table class="table table-condensed table-hover">
        <tr class="col-xs-8 text-center center-block feedTopRow">
            <th class="text-center whichFeedWhiches">Which <u class="whichFeedItems">&nbsp;{{which.title}}&nbsp;</u>?</th>
        </tr>
        <tr class="col-xs-8 text-center center-block">
            <td>{{which.pic1Url}}</td>
        </tr>
        <tr class="col-xs-8 text-center center-block">
            <td class="text-center">{{which.vote1}}</td>
        </tr>
        <tr class="col-xs-8 text-center center-block">
            <td>{{which.pic2Url}}</td>
        </tr>
        <tr class="col-xs-8 text-center center-block">
            <td class="text-center">{{which.vote2}}</td>
        </tr>
    </table>
</div>