<h2>My Whiches</h2>
<h2>Should see something here too...</h2>
<div ng-repeat="which in feeds | orderBy:'id':true">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Which {{which.title}}?</th>
        </tr>
        <tr>
            <td>{{which.pic1Url}}</td>
        </tr>
        <tr>
            <td>{{which.vote1}}</td>
        </tr>
        <tr>
            <td>{{which.pic2Url}}</td>
        </tr>
        <tr>
            <td>{{which.vote2}}</td>
        </tr>
    </table>
</div>