<div class="jumbotron" ng-app="whichApp">
    <h1>WHICH</h1>
    <p class="lead">Which lets you vote on which Which you like more</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>4+4 = {{4+4}}</h2>
        <h2>2+2 = {{2+2}}</h2>
    </div>
    <div ng-view></div>
</div>
